#comments.index
  .row
    .col-md-12
      .card
        .card-header{'data-background-color': 'purple'}
          %h4.title Comments
        .card-content.table-responsive
          %table.table
            %thead.text-primary
              %th Post
              %th.comment Comment
              %th User
              %th Date
              %th
            %tbody
              - @comments.each do |comment|
                %tr
                  %td= comment.post.title
                  %td= comment.content
                  %td= comment.user.username
                  %td= comment.created_at.strftime('%b %d, %Y')
                  %td.text-right
                    = link_to edit_admin_comment_path(comment) do
                      %i.material-icons.text-warning{'data-toggle': 'tooltip', 'data-placement': 'top', title: 'Edit Comment'} edit
                    = link_to admin_comment_path(comment), data: {behavior: 'delete', redirect: admin_comments_path, 'record-type': 'comment'} do
                      %i.material-icons.text-danger{'data-toggle': 'tooltip', 'data-placement': 'top', title: 'Delete Comment'} delete
