.container.m-t-lg
  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = f.error_notification
    .panel.panel-default
      .panel-heading
        %h2.panel-title Sign Up
      .panel-body
        .form-inputs
          .row
            .col-md-4
              = f.input :username, required: true, autofocus: true
            .col-md-8
              = f.input :email, required: true

          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %p= "Currently waiting confirmation for: #{resource.unconfirmed_email}"

          = f.input :password, autocomplete: 'off', required: true
          = f.input :password_confirmation, required: true

          = recaptcha_tags
        .form-actions
          = f.button :submit, 'Sign Up', class: 'btn btn-lg btn-corgi'
