#dashboard
  .row
    .col-lg-3.col-md-6.col-sm-6
      .card.card-stats
        .card-header{'data-background-color': 'green'}
          %i.material-icons image
        .card-content
          %p.category Posts
          %h3.title= Post.count
        .card-footer
          = link_to 'All Posts', admin_posts_path

    .col-lg-3.col-md-6.col-sm-6
      .card.card-stats
        .card-header{'data-background-color': 'purple'}
          %i.material-icons comment
        .card-content
          %p.category Comments
          %h3.title= Comment.count
        .card-footer
          = link_to 'All Comments', admin_comments_path

    .col-lg-3.col-md-6.col-sm-6
      .card.card-stats
        .card-header{'data-background-color': 'red'}
          %i.material-icons error_outline
        .card-content
          %p.category Pending Flags
          %h3.title= Flag.where(status: 'pending').count
        .card-footer
          = link_to 'All Flags', admin_flags_path

    .col-lg-3.col-md-6.col-sm-6
      .card.card-stats
        .card-header{'data-background-color': 'blue'}
          %i.material-icons person
        .card-content
          %p.category Users
          %h3.title= User.count
        .card-footer
          = link_to 'All Users', admin_users_path

  .row
    .col-md-8.col-xs-12
      .card.card-nav-tabs
        .card-header{'data-background-color': 'orange'}
          .nav-tabs-navigation
            .nav-tabs-wrapper
              %span.nav-tabs-title Recent:
              %ul.nav.nav-tabs{'data-tabs': 'tabs'}
                %li.active
                  %a{href: '#recent-posts', 'data-toggle': 'tab'}
                    %i.material-icons image
                    Posts
                    .ripple-container
                %li
                  %a{href: '#recent-comments', 'data-toggle': 'tab'}
                    %i.material-icons comment
                    Comments
                    .ripple-container
                %li
                  %a{href: '#recent-flags', 'data-toggle': 'tab'}
                    %i.material-icons error_outline
                    Flags
                    .ripple-container
                %li
                  %a{href: '#recent-users', 'data-toggle': 'tab'}
                    %i.material-icons person
                    Users
                    .ripple-container
        .card-content
          .tab-content
            = render 'admin/dashboard/recent_posts'
            = render 'admin/dashboard/recent_comments'
            = render 'admin/dashboard/recent_flags'
            = render 'admin/dashboard/recent_users'
