%ul.post-actions
  - liked = user_signed_in? && (current_user.liked? post)
  %li.likes{class: liked ? 'user-liked' : nil}
    = link_to like_post_path(post), method: :put do
      %i.fa.fa-heart-o{'data-toggle': 'tooltip', 'data-placement': 'top', title: 'Likes'}
    = labels ? pluralize(post.get_likes.size, 'Like') : post.get_likes.size
  %li.comments{class: 'unmarked'}
    = link_to post_path(post, anchor: 'comments') do
      %i.fa.fa-comment-o{'data-toggle': 'tooltip', 'data-placement': 'top', title: 'Comments'}
    = labels ? pluralize(post.comments.size, 'Comment') : post.comments.size
  %li.inappropriate{class: 'unmarked'}
    %i.flag.fa.fa-flag-o{'data-toggle': 'tooltip', 'data-placement': 'top', title: 'Flag as Inappropriate'}
    - if labels
      Flag as Inappropriate
  %li.share
    %i.fa.fa-share
    - if labels
      Share
    = render 'posts/share', post: post
