%section#posts
	.container
		.row
			- @posts.each do |post|
				.col-md-4.col-sm-6.col-xs-12
					.post.panel.panel-default
						.panel-heading
							- animated = animated?(post.image.path(:medium))
							= link_to post_path(post), class: animated ? 'gif' : nil do
								= image_tag(post.image.url(:medium), title: post.title)
						.panel-body
							%h4.title= link_to post.title, post_path(post)
							-# %p.author.muted= "Posted by #{post.user.username} #{time_ago_in_words(post.created_at)} ago"
						.panel-footer.clearfix
							%p.author.muted= "Shared by #{post.user.username}"
							%ul.post-actions
								%li
									%i.likes.fa.fa-heart-o
									100
								%li
									%i.comments.fa.fa-comment-o
									257
								%li
									%i.flag.fa.fa-flag-o
