.breadcrumbs.hidden-xs
	.container
		%ol.breadcrumb
			%li= link_to 'Home', root_path
			%li= link_to 'Posts', root_path
			%li.active= @post.title
#post.show
	.container
		.row.post-heading
			.col-xs-12.col-sm-8
				%h2.title= @post.title
				%p
					by
					= link_to @post.user.username, user_path(@post.user.username)
					= time_ago_in_words(@post.created_at)
					ago
			.col-xs-12.col-sm-4
				- if current_user && current_user == @post.user
					.text-right
						= link_to edit_post_path, class: 'btn btn-warning' do
							%i.fa.fa-pencil.m-r-md
							Edit
						= link_to @post, data: {behavior: 'delete'}, class: 'btn btn-danger' do
							%i.fa.fa-times.m-r-md
							Delete
		.row
			.post-primary-col.col-xs-12.col-sm-6
				= image_tag(@post.image.url(:medium), title: @post.title, class: 'img-responsive post-img')
				%p.post-description= @post.description
			.post-secondary-col.col-xs-12.col-sm-6.col-lg-4
				= render 'actions', post: @post
				.more-posts
					%h4= "More By #{@post.user.username.capitalize}"
					%ul
						- @user_posts.each do |post|
							%li{class: post.animated? ? 'animated' : nil}
								= link_to post_path(post) do
									= image_tag post.image.url(:thumb), title: post.title, 'data-src': post.image.url(:thumb), class: 'static-img'
									- if post.animated?
										= image_tag post.image.url(:thumb_animated), class: 'animated-img hidden'
										%i.fa.fa-play-circle.play
							-# %li= image_tag(post.image.url(:thumb), class: 'img-responsive')
