#users.index
  .row
    .col-md-12
      .card
        .card-header{'data-background-color': 'blue'}
          %h4.title Users
        .card-content.table-responsive
          %table.table
            %thead.text-primary
              %th Username
              %th Email
              %th Posts
              %th Comments
              %th Flags
              %th Date Registered
              %th Admin?
              %th
            %tbody
              - @users.each do |user|
                %tr
                  %td= user.username
                  %td= user.email
                  %td= user.posts.count
                  %td= user.comments.count
                  %td= user.flags.count
                  %td= user.created_at.strftime('%b %d, %Y')
                  %td
                    - if user.admin?
                      %i.material-icons.text-success check
                    - else
                      %i.material-icons.text-danger close
                  %td.text-right
                    %i.edit-post.material-icons.text-warning edit
                    %i.delete-post.material-icons.text-danger delete
