!!! 5
%html
	%head
		%title Corgi Derp
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		%link{rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"}
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
		= yield :social_meta_tags
	%body
		= render 'layouts/app/fb_graph'
		= render 'layouts/app/top_nav'
		= yield
		%footer.footer
			.container
				%p
					&copy; 2017 CorgiDerp. Created by
					= link_to 'Jeff Aschenbrenner', 'http://www.jeffaschenbrenner.com'

		- if flash.count > 0
			= render 'layouts/common/notifications'

		-# Page Specific Javascript
		= javascript_include_tag "#{params[:controller]}/#{params[:action]}" if javascript_exists?("#{params[:controller]}/#{params[:action]}")
